  <footer>
  <nav class="navbar navbar-fixed-bottom navbar-dark bg-primary">
      <a class="inverse" href="#">all rights reserved®vansteve911</a>
  </nav> 
  </footer>
</body>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<script src="http://wiki.jikexueyuan.com/project/bootstrap4/dist/js/bootstrap.min.js"></script>


</html>