<!DOCTYPE html5>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>用户</title>
  <style>
    div, nav, span {
      border: solid 1px;
    }
  </style>
</head>

<body>
  <nav>
    <div>
      <h1>首页</h1>
    </div>
    <div>
      <span>
        <a href="#" class="2"> 登录 </a>
      </span>
      <span>
        <a href="#" class="2"> 注册 </a>
      </span>
    </div>
  </nav>
  <div id="myInfo">
    <h3>我的资料</h3>
    <div>
      <ul>
        <li>昵称: {{ nickname }}</li>
        <li>
          <img src="{{ avatar }}" alt="">
        </li>
      </ul>
    </div>
  </div>
  <div id="register">
    <h2>注册</h2>
    <div>
        <label for="">用户名</label>
        <input type="text" v-model="account">
        <label for="">密码</label>
        <input type="text" v-model="password">
        <label for="">重复密码</label>
        <input type="text" v-model="password2">
        <label for="">昵称</label>
        <input type="text" v-model="nickname">
        <button v-on:click="register">提交</button> 
    </div>
  <div>
    <h2>登录</h2>
    <div>
      <form action="">
        <label for="">用户名</label>
        <input type="text">
        <label for="">密码</label>
        <input type="text">
        <input type="submit" value="提交">
      </form>
    </div>
  </div>
</body>
<script src="http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
<script src="/webapp/js/main.js"></script>
<script src="/webapp/js/vue.min.js"></script>
<script src="/webapp/js/user.js"></script>
</html>
